# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
*.so

# CLI specific
cli/dist/
cli/build/
cli/*.egg-info

# Extension specific
extension/**/*.zip

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp

#test
res/